<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin - Appointments</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <h1>Crimson Detail Co. - Booked Appointments</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Vehicle</th>
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for a in appointments %}
        <tr>
          <td>{{ a.name }}</td>
          <td>{{ a.phone }}</td>
          <td>{{ a.vehicle }}</td>
          <td>{{ a.date }}</td>
          <td>{{ a.time }}</td>
          <td>{{ a.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
